<div class="icons">
    <h2>Icons</h2>
    <div class="row">
        <div class="col-sm-8 col-md-9">
            <div class="sample">
                <span class="fas fa-balance-scale"></span>
                <span class="fas fa-shopping-cart"></span>
                <span class="fas fa-cogs"></span>
                <span class="fas fa-laptop"></span>
                <span class="fas fa-users"></span>
                <span class="fas fa-clipboard"></span>
                <span class="fas fa-book"></span>
                <span class="fas fa-tree"></span>
                <span class="fas fa-dollar-sign"></span>
                <span class="fas fa-university"></span>
                <span class="fas fa-question"></span>
                <span class="fab fa-facebook"></span>
                <span class="fab fa-twitter"></span>
                <span class="fab fa-google-plus"></span>
                <span class="fab fa-linkedin"></span>
            </div>
        </div>

        <div class="col-sm-4 col-md-3">
            <div class="input">
                <p class="picker" data-selector=".customizer .icons .sample span" data-element="background-color">
                    <label for="tc-icon-bg-color">Background:</label>
                    <input id="tc-icon-bg-color" data-selector=".customizer .icons .sample span" data-element="background-color" type="text">
    				<span class="input-group-addon"><i></i></span>
                </p>
                <p class="picker" data-selector=".customizer .icons .sample span" data-element="color">
                    <label for="tc-icon-color">Foreground:</label>
                    <input id="tc-icon-color" data-selector=".customizer .icons .sample span" data-element="color" type="text">
                    <span class="input-group-addon"><i></i></span>
                </p>
                <p>
                    <label for="tc-icon-size">Font size:</label>
                    <input id="tc-icon-size" class="nocolor" data-selector=".customizer .icons .sample span" data-element="font-size" type="text">
                </p>
            </div>
        </div>
    </div>
</div>
